.header {
  position: fixed;
  background-color: hsl(var(--clr-black) / .2);
  top: 0;
  width: 100%;
  z-index: 999;

  @media screen and (max-width: 1199px) {
    &.open {
      background: linear-gradient(236.96deg, #868BA9 25.02%, #949BC7 100%);
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 999;

      .header__menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 192px;

        ul {
          flex-direction: column;
          gap: 32px;

          li {
            font-size: var(--fs-900);
          }
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  &__logo {
    width: fit-content;
    height: 29px;
    display: block;
    cursor: pointer;

    @include screen($s-md) {
      height: 43px;
    }

    @include screen($s-lg) {
      flex: 1;
    }

    img {
      // width: 100%;
      height: 100%;

    }
  }

  &__menu {
    display: none;

    @include screen($s-lg) {
      display: inline-block;
      flex: 2;
    }

    &-list {
      justify-content: center;
      >li {
        cursor: pointer;
      }
    }
  }

  &__socials-list {
    li {
      &.btn--nav-menu {
        .btn {
          padding: 0;
          margin: 0;
          border: none;

          display: block;
        }
        @include screen($s-lg) {
          display: none;
        }
      }
    }


    @include screen($s-lg) {
      flex: 1;
      justify-content: flex-end;

    }
  }


}
